#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}

#cover_page {
  position:relative;
}

#title {
  color: #0f0;
  font-family: "Courier New";
}

.container {
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

body, html {
  height: 100%;
}


* {margin: 0; padding: 0}
body {background: #000;}
canvas {
  display: block;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}